@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,600italic,300,600");

/* color scheme for cool palette: #1dbbe1; #4f7fa7; #194560; #888c75; #8f355b; #bf8e91 */
/* color scheme for warm palette: #f2efe0; #daa84f; #c88a37; #a56025; #34332e; #8e7d5f */

:root {
  background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
  background-blend-mode: normal, lighten, soft-light;
}

   :root.cool {
    background-image: linear-gradient(to right, #a1c4fd 0%, #194560 100%);
    --text-color: white;
    }
    :root.warm {
    background-image: linear-gradient(to right, #daa84f 20%, #f2efe0 100%);
    --text-color: #34332e;
    }

.palette {
      height: 60px;
      width: auto;
      object-fit: cover;
      border-radius: 0%;
  }
  
.palette:hover {
      border: 2px solid #34332e;
      border-radius: 50%;
  }

/* Global styles */
  
html {
      box-sizing: border-box;
      font-size: 16pt;
  }

  *, *:before, *:after {
      box-sizing: inherit;
  }

  body, .tag {
    font: normal 18px/1.5 "Source Sans Pro", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--text-color);
    text-align: center;
  }

  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    opacity: 0.9;
  }
  
  a:hover {
    opacity: 1;
  }
  
  /* Header and Navigation */
#header {
    display: flex;
    justify-content: center;
    border: 10px solid transparent;
  }

#header nav {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #header nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    border: solid 1px #ffffff;
    border-radius: 4px;
    width: max-content;
    justify-content: space-evenly;
  }

  #header nav ul li {
    margin: 0;
    padding: 0;
  }
  
  #header nav ul li a {
    display: block;
    height: 2.75rem;
    line-height: 2.75rem;
    padding: 0 1.25rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
    border-bottom: 0;
    text-align: center;
  }
  
  #header nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.075);
  }
  
  #header nav ul li a:active {
    background-color: rgba(255, 255, 255, 0.175);
  }
  
  ul, nav {
    list-style: none;
  }

body.is-preload #header {
  -moz-filter: none;
  -webkit-filter: none;
  -ms-filter: none;
  filter: none;
}

  body.is-preload #header > * {
    opacity: 1;
  }

  body.is-preload #header .content .inner {
    max-height: none;
    padding: 3rem 2rem;
    opacity: 1;
  }
  
  ::selection {
    background: #ffc8ff;
  }
  
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    border-bottom: 5px solid #95a4ff;
    -webkit-text-fill-color: #2A293E;
    -webkit-box-shadow: 0 0 0px 1000px #f8f4e5 inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
    font-weight: 600;
    line-height: 1.5;
    margin: 0 0 1rem 0;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font: inherit;
}
    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
        color: inherit;
        text-decoration: none;
    }
    h1.major, h2.major, h3.major, h4.major, h5.major, h6.major {
        border-bottom: solid 1px #ffffff;
        width: -moz-max-content;
        width: -webkit-max-content;
        width: -ms-max-content;
        width: max-content;
        padding-bottom: 0.5rem;
        margin: 0 0 2rem 0;
    }

h1 {
    font-size: 2.25rem;
    line-height: 1.3;
    letter-spacing: 0.5rem;
}
h2 {
    font-size: 1.5rem;
    line-height: 1.4;
    letter-spacing: 0.5rem;
}
h3 {
    font-size: 1rem;
}
h4 {
    font-size: 0.8rem;
}
h5 {
    font-size: 0.7rem;
}
h6 {
    font-size: 0.6rem;
}

p {
  font: inherit;
}

/* Page-specific styles */

/* index page */

/*

https://codepen.io/denic/pen/GRoOxbM

.typing-hello {
  width: 36ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
  margin: 3%;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
} */

img {
  border-radius: 50%;
  width: 70%;
}

.main-container {
  display: flex;
  justify-content: space-evenly;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px;
}

.links {
  display: flex;
  justify-content: space-evenly;
}

/* about me page */

.main-container {
  display: flex;
  justify-content: space-evenly;
}

.me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.short-info {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* resume page */

/* .navigation {
  display: flex;
  margin-left: 90%;
} */

.main-container {
  display: flex;
  flex-direction: column;
  margin: 1.5%;
}

.skills {
  display: flex;
}

.soft-skills, .hard-skills {
  flex: 50%;
}

.tag {
   display: inline-flex;
    width: fit-content;
    padding: 0.375rem 0.625rem;
    background: #e8e8e8c0;
    border-radius: 0.375rem;
    margin: 4px;
}

.tag:hover {
  background-color: #55555591;
}

.experience {
  width: 95%;
  max-width: 1220px;
  margin: 2% auto;
}

.job {
  display: grid;
  grid-template-columns: 1fr 3fr;
  position: relative;
}

.job_dates {
  /* font-size: 1.5vw; */
  padding: 10px 0;
  position: sticky;
  top: 0;
  text-align: center;
  height: calc(10vw + 20px);
  transition: all 0.2s ease-in;
}

.job_details {
  border-top: 2px solid #fff;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 10px;
  padding: 15px 0;
}

/* 
.job_details .title {
  font-size: 1.5vw;
} */

.job_details .content {
  line-height: 26px;
  font-size: 1vw;
}

.job_details .content p {
  text-align: left;
}

/* contact page */

form { max-width:420px; margin:50px auto; }

.form-field {
  color:white;
  font: inherit;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #efefef;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 10px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.form-field:focus { border:2px solid #787878; }

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  width: 100%;
  background:#BDBBBE;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  /* font-weight:700; */
}
[type="submit"]:hover { background:#ffc8ff; }

/* Table Styles */
.table-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}

table {
  margin: 0 0 2em 0;
  width: 100%;
}

table tbody tr {
  border: solid 1px #efefef;
  border-left: 0;
  border-right: 0;
}

table tbody tr:nth-child(2n + 1) {
  background-color: #f7f7f7;
}

table td {
  padding: 0.75em 0.75em;
}

table th {
  color: #787878;
  font-size: 0.9em;
  font-weight: 400;
  padding: 0 0.75em 0.75em 0.75em;
  text-align: left;
}

table thead {
  border-bottom: solid 2px #efefef;
}

table tfoot {
  border-top: solid 2px #efefef;
}

table.alt {
  border-collapse: separate;
}

table.alt tbody tr td {
  border: solid 2px #efefef;
  border-left-width: 0;
  border-top-width: 0;
}

table.alt tbody tr td:first-child {
  border-left-width: 2px;
}

table.alt tbody tr:first-child td {
  border-top-width: 2px;
}

table.alt thead {
  border-bottom: 0;
}

table.alt tfoot {
  border-top: 0;
}

/* Button Styles */
.button {
  background-color: transparent;
  border: 3px solid #efefef;
  border-radius: 0.35em;
  color: #787878 !important;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  height: 2.75em;
  line-height: 2.75em;
  min-width: 10em;
  padding: 0 1.5em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  margin: 1%;
}

.button:hover {
  border-color: #787878;
}

.button:active {
  background-color: rgba(73, 191, 157, 0.1);
  border-color: #787878;
  /* color: #49bf9d !important; */
}

.button:disabled {
  background-color: #e7e7e7 !important;
  border-color: #e7e7e7 !important;
  color: #b2b2b2 !important;
  cursor: default;
}

/* Work Item Styles */
.work-item {
  margin: 0 0 2em 0;
}

.work-item .image {
  margin: 0 0 1.5em 0;
}

.work-item h3 {
  font-size: 1em;
  margin: 0 0 0.5em 0;
}

.work-item p {
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 0;
}

/* Poptrox Styles */
.poptrox-popup {
  background-color: #1f1815;
  color: rgba(255, 255, 255, 0.5);
  padding: 2em;
  text-align: center;
}

.poptrox-popup .loader {
  border-color: rgba(255, 255, 255, 0.25);
}

.poptrox-popup .nav-next:before,
.poptrox-popup .nav-previous:before {
  color: rgba(255, 255, 255, 0.25);
}

.poptrox-popup .caption {
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 1em 0 0 0;
  max-width: 75%;
}

/* Responsive Styles */
@media screen and (max-width: 1680px) {
  /* Add your styles for large screens here */
}

@media screen and (max-width: 1280px) {
  /* Add your styles for medium-sized screens here */
}

@media screen and (max-width: 980px) {
  /* Add your styles for small screens here */
}

@media screen and (max-width: 736px) {
  /* Add your styles for extra-small screens here */
}

@media screen and (max-width: 480px) {
  /* Add your styles for extra-extra-small screens here */
}