
h1 {
    font-family: Verdana,Arial,sans-serif;
    font-size: 60px;
}

h2 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: fixed;
    right: 16px;
    top: 16px;
}

img {
    border-radius: 50%;
    width: 30%;
}

.main-container {
    display: flex;
    justify-content: space-evenly;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.links, .button {
    display: flex;
    justify-content: space-evenly;
}